html {
    height: 100%;
}

body {
    background: linear-gradient(166.62deg, #FD9843 9.25%, #E35D6A 100.9%);
    background-attachment: fixed;
}

.bg-solid {
    background: none;
    background-color: #FFF2E7;
}

.menu-fix {
    padding-top: 64px;
}

.logo {
    max-width: 240px;
    height: auto;
}

.logo-parceiros {
    max-width: 180px;
    height: auto;
}

.text-title {
    font-size: 32px;
}

.btn-signup {
    background-color: rgba(255, 255, 255, 0.15);
}

.page-header {
    background: linear-gradient(166.62deg, #FD9843 9.25%, #E35D6A 100.9%);
    height: 240px;
    z-index: -9999;
}

.selfie {
    max-height: 320px;
    max-width: 100%;
}

.selfie-container {
    background-image: url("/assets/selfie.png");
}

.disclaimer {
    color: #984C0C;
}

#overlay {
    display: none;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}