html {
    height: 100%;
}

body {
    background: linear-gradient(166.62deg, #FD9843 9.25%, #E35D6A 100.9%);
    background-attachment: fixed;
}

.bg-solid {
    background: none;
    background-color: #FFF2E7;
}

.menu-fix {
    padding-top: 64px;
}

.navbar {
    background-color: #CA6510;
}

.logo {
    max-width: 240px;
    height: auto;
}

.logo-parceiros {
    max-width: 180px;
    height: auto;
}

.text-title {
    font-size: 32px;
}

.btn-signup {
    background-color: rgba(255, 255, 255, 0.15);
}

.btn-icon {
    background-color: #FD7E14;
    color: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.btn-icon:hover {
    color: #ffffff;
    background-color: #CA6510;
}

.btn-docs {
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    font-weight: 600;
}

.btn-docs-default {
    color: #0A58CA;
    background-color: #CFE2FF;
    border-color: #9EC5FE;
}

.btn-docs-valid,
.btn-docs-valid:hover {
    color: #13795B;
    background-color: #D2F4EA;
    border-color: #1AA179;
}

.btn-docs-invalid,
.btn-docs-invalid:hover {
    color: #B02A37;
    background-color: #F8D7DA;
    border-color: #DC3545;
}

.icon-docs {
    width: 100%;
    height: auto;
}

.selfie-default {
    border-radius: 6px;
    border: 1px solid #9EC5FE;
}

.selfie-valid {
    border-radius: 6px;
    border: 1px solid #1AA179;
}

.selfie-invalid {
    border-radius: 6px;
    border: 1px solid #DC3545;
}

.page-header {
    background: linear-gradient(166.62deg, #FD9843 9.25%, #E35D6A 100.9%);
    height: 240px;
    z-index: -9999;
}

.disclaimer {
    color: #984C0C;
}

#overlay {
    display: none;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

form.registration label {
    color: #CA6510;
}