html {
    height: 100%;
}

body {
    background: linear-gradient(166.62deg, #FD9843 9.25%, #E35D6A 100.9%);
    background-attachment: fixed;
}

.bg-solid {
    background: none;
    background-color: #FFF2E7;
}

.menu-fix {
    padding-top: 64px;
}

.navbar {
    background-color: #CA6510;
}

.logo {
    max-width: 240px;
    height: auto;
}

.logo-parceiros {
    max-width: 180px;
    height: auto;
}

.page-header {
    background: linear-gradient(166.62deg, #FD9843 9.25%, #E35D6A 100.9%);
    height: 240px;
    z-index: -9999;
}

.user-header-lg {
    background: linear-gradient(166.62deg, #FD9843 9.25%, #E35D6A 100.9%);
    height: 320px;
    z-index: -9999;
}

hr {
    border-top: 1px solid #E9ECEF;
    border-bottom: none;
    opacity: 1;
    background-color: #E9ECEF;
}

hr.orange {
    border-top: 1px solid #FECBA1;
    border-bottom: none;
    opacity: 1;
    background-color: #FECBA1;
}

.text-title {
    font-size: 32px;
}

.text-color-orange-dark {
    color: #CA6510;
}

.text-color-orange-light {
    color: #FD7E14;
}

.btn-signup {
    background-color: rgba(255, 255, 255, 0.15);
}

.btn-icon {
    background-color: #FD7E14;
    color: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.btn-icon-light {
    background-color: #FFE5D0;
    color: #653208;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.btn-icon-light:hover {
    color: #CA6510;
}

.btn-icon:hover {
    color: #ffffff;
    background-color: #CA6510;
}

.btn-docs {
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    font-weight: 600;
}

.btn-docs-default {
    color: #0A58CA;
    background-color: #CFE2FF;
    border-color: #9EC5FE;
}

.btn-docs-valid,
.btn-docs-valid:hover {
    color: #13795B;
    background-color: #D2F4EA;
    border-color: #1AA179;
}

.btn-docs-invalid,
.btn-docs-invalid:hover {
    color: #B02A37;
    background-color: #F8D7DA;
    border-color: #DC3545;
}

.btn-details {
    color: #CA6510;
    background-color: #FFE5D0;
    border: none;
}

.btn-details:hover {
    background-color: #CA6510;
    color: #ffffff;
}

.btn-details:focus,
.btn-details:active {
    color: #fff;
    background-color: #CA6510;
    border-color: #CA6510;
    box-shadow: 0 0 0 0.25rem rgb(202 101 16 / 50%);
}

.icon-docs {
    width: 100%;
    height: auto;
}

.selfie-default {
    border-radius: 6px;
    border: 1px solid #9EC5FE;
}

.selfie-valid {
    border-radius: 6px;
    border: 1px solid #1AA179;
}

.selfie-invalid {
    border-radius: 6px;
    border: 1px solid #DC3545;
}

.disclaimer {
    color: #984C0C;
}

#overlay {
    display: none;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

form.registration label {
    color: #CA6510;
}

.vaccine {
    font-size: 20px;
    color: #CA6510;
    background-color: #FFE5D0;
}

.vaccine-details {
    background-color: #FFE5D0;
}

.vaccine-details-name {
    border-bottom: 1px solid #FECBA1;
}

.font-mono-sm {
    font-size: 11px;
}

.font-mono-md {
    font-size: 14px;
}

.vaccine-date {
    color: #FD7E14;
}

table.table-vaccines tr:last-of-type td {
    border-bottom: none;
}